
body{
 	margin-left: auto;
	margin-right: auto;
	background: #f108b7 url(mr-spotlightpink.png) no-repeat;
	background-position: 100px 0;
	font-size: 14px;
	font-family: verdana;
	width: 750px;
}
#header {
	text-align: center;
}

img {
	border: none;
}

blockquote {
	Font-size: 14px;
	
}

a[href$=".pdf"]{
	background-image: url(http://bleu.west.spy.net/~noelani/images/pdf.png);
	padding-right: 20px;
	background-repeat: no-repeat;
	background-position: right;
}

#mainmenu ul {
	list-style: none;
	margin-bottom: 1em;
}

#mainmenu li {
	width: 85px;
	text-align: center;
	float: left;
	list-style: none;
	margin: 0;
	padding: 4px 0;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
}

#mainmenu a {
	text-decoration: none;
	color: white;
	padding: 6px;
}


#navbar{
	color: black;
	font-size: medium;
	width: 750px;	
}

#navbartitle {
	font-size: larger;
	font-weight: bolder;
	text-align: center;
}

#navbar h1 {
	font-size: large;
	margin-left: 1em;
	color: black;
}

#navbar a {
	font-weight: bold;
	color: black;
	text-decoration: none;
}

#navbar a:visited {
	color: black;
}

#navbar a:hover {
	border-bottom: solid 2px white;
}

#navbar ul li a span {
  display: none;
}

#navbar ul {
		text-align: center;
		text-indent: 0;
		padding-left: 0;
		list-style: none;
}

#navbar li {
	text-indent: -3em;
	display: inline;
	background-position: left;
	padding-left: 15px;
	margin: 0;
	text-align: center;
}

#navbar ul li:first-child {
	padding-left: 0;
	background-image: none;
}
a {
	color: #2798F2;
}
a:visited {
    color: #08f10d;
}

#maincontent {
		font-size: 14px;
	    width: 750px;
	    padding-top: 10px;
}

#maincontent p {
		padding: 0 1em 0 1em;
}

#maincontent h1 {
	font-size: x-large;
	font-weight: bold;
}
#maincontent h2 {
	font-size: 18px;
	font-weight: bold;
}

#bigstupidimagediv img {
  width: 750px;
}


#footer {
	color: black;
	font-size: xx-small;
	text-align: center;
}
